<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app>
<web-app>
	<servlet>
		<servlet-class>LoginServelet</servlet-class>
		<servlet-name>LoginServelet</servlet-name>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginServelet</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	
</web-app>